bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/*.suo
/*.Tests/Content/
/*.Sample/Content/
/node_modules
/build/
/tools/packages/
/.fake/
/paket-files/
.vscode/
.idea/
*.user
websharper.log
/*/bin
/*/obj
/*/wwwroot/Content
/*/wwwroot/dist

